<% include partials/header%>
    <div class="container">
    <div class ="row mt-5">
        <div class="col-md-7">
        <h1 class ="display-2">Lista del Personal </h1>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                <th>N</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Action </th>
                </tr>
                </thead>
                <tbody>
                  <% if (data){ %>  
                  <% for(var i=0; i<data.length; i++) {%>
                  <tr>
                  <td><%= (i + 1) %></td>
                  <td><%= data[i].nombre %></td>
                  <td><%= data[i].direccion %></td>
                  <td><%= data[i].Telefono %></td>
                  <td><a href="/delate/ <%= data[i].id %>" class="btn btn-danger">Eliminar</a>
                      <a href="/editar/ <%= data[i].id %>" class="btn btn-info">Editar</a>
                  </td>
                                    
                  </tr>
               <% } %>
                  <% } %>  
                </tbody>
            </table>
        </div>
        
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                <h1 class="display-4">Ingresar Datos</h1>
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" class="form-control" placeholder="Name">
                        </div>

                        <div class="form-group">
                             <input type="text" name="direccion" class="form-control" placeholder="address">
                        </div>

                     <div class="form-group">
                         <input type="text" name="Telefono" class="form-control" placeholder="phone">
                     </div>
     
                        <button type="submit" class="btn btn-primary">
                        Enviar Personal
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer%>
